/*TOP NAV*/
.top-navbar-class {
  background-color: #4d426d;
}
.nav-link {
  color: white;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: white;
}
.Logo-div-wrapper {
  padding-left: 2rem;
}
.navRow-class {
  padding-top: 0.4rem;
}
/*END TOP NAV*/
.App {
  height: 100vh;
  background-color: #4d426d;
}
.container {
  height: 100%;
}
.homePage-row {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.homepage-class {
  background-color: #3f3653;
  height: 35rem;
  border-radius: 30px;
}

.addUser-class {
  display: flex;
  justify-content: center;
}
