/*TOP NAV*/
.top-navbar-class {
  background-color: #4d426d;
}
.nav-link {
  color: white;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: white;
}
.Logo-div-wrapper {
  padding-left: 2rem;
}
.navRow-class {
  padding-top: 0.4rem;
  margin-right: 0 !important;
}
#searchBar {
  background-color: hsl(255, 24%, 41%);
  border: none;
  color: #7f749d;
}
#searchBar:focus {
  outline: none;
}
#search {
  background-color: #5c4f82;
  height: 65px;
  border-radius: 63px;
  display: flex;
  align-content: center;
  align-items: center;
  color: #7f749d;
  padding: 10px 15px;
}
#search {
  margin-top: 10px;

  width: 100%;
  border-radius: 40px;
}
#search svg {
  font-size: 23px;
}
#search input {
  border: none;
  background-color: transparent;
  width: 90%;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}

/*END TOP NAV*/
body {
  background-color: #4d426d;
}
.App {
  height: 100vh;
}

.homePage-row {
  display: flex;
  justify-content: center;

  align-items: center;
}

.homepage-class {
  background-color: #3f3653;
  height: 35rem;
  border-radius: 30px;
}

.addUser-class {
  display: flex;
  justify-content: center;
}
.users {
  background-color: #5c4f82;
  border-radius: 35px;
}
.userli-wrapper {
  padding-left: 0.5rem;
  padding: 1rem;
}

.userli {
  color: white;
  display: flex;
}
.userInfo {
  padding-bottom: 1.5rem;

  border-bottom: 1px rgb(180, 180, 180, 0.1) solid;
  flex-grow: 1;
}
.userprofile {
  margin-right: 2rem;
}
